
.blogsContainer {
  padding-top: spacing(3);
}

.blogTitle {
  font-weight: 800;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.paginationContainer {
  display: flex;
  justify-content: center;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1558981852-426c6c22a060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
}
